<div id="SYS000001_M01">
	<script src="/static/admin/sys/SYS000001_M01.js"></script>

	<h1 class="mt-4 mb-4">
<!--		<span name="pageCd" style="color: var(--bs-body-bg);"></span>-->
	</h1>

	<div class="row">

		<div class="col-md-5">
			<div class="card des_card_1">
				<div
					class="card-header"
					style="font-size: 1.3rem;"
				>
					맞춤약관생성(누적)
				</div>
				<div
					class="card-body d-flex justify-content-center "
					style="font-size: 1.7rem;align-items: center;"
				>
					총
					<span
						class="me-2 ms-3"
						style="font-size: 2.0rem; font-weight: bold;"
						id="dashCnt01"
					>

					</span>
					건
				</div>
			</div>

		</div>
		<div class="col-md-7">
			<div class="card des_card_2">
				<div
					class="card-header"
					style="font-size: 1.3rem;"
				>
					주계약/특약상품
				</div>
				<div class="card-body">
					<div class="row">
						<div
							class="col-md-6 d-flex justify-content-center align-self-center"
							style="align-items: center;"
						>
							총
							<span
								class="me-2 ms-3"
								style="font-size: 2.0rem; font-weight: bold;"
								id="dashCnt02"
							>
							</span>
							건
						</div>
						<div
							class="col-md-6 d-flex justify-content-center align-self-center des_line"
							style="align-items: center;"
						>
							당월
							<span
								class="me-2 ms-3"
								style="font-size: 2.0rem; font-weight: bold;"
								id="dashCnt03"
							>
							</span>
							건
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row mt-4 mb-2">
		<div class="col-md-12">
			<div class="card">
				<div
					class="card-header"
					style="font-size: 1.3rem;"
				>
					맞춤약관생성-반기(전년/금년)
				</div>
				<div class="card-body" style="height: 450px;">
					<div name="chart01" style="height: 100%"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-4 mb-2">
		<div class="col-md-12">
			<div class="card">
				<div
					class="card-header"
					style="font-size: 1.3rem;"
				>
					미처리 업무
				</div>
				<div class="card-body" style="padding-bottom: 2.2rem;">
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header bg_arrow">
									약관파일미등록
								</div>

								<div class="card-body p-0 m-0">
									<div class="tatable-wrapper">
										<div
											class="datatable-container ag-theme-alpine"
											name="table-content-01"
											style="height: 230px;"
										>
										</div>
									</div>
								</div>


							</div>
						</div>

						<div class="col-md-6">
							<div class="card">
								<div class="card-header bg_arrow">
									약관항목구성미등록
								</div>

								<div class="card-body p-0 m-0">
									<div class="tatable-wrapper">
										<div
											class="datatable-container ag-theme-alpine"
											name="table-content-02"
											style="height: 230px;"
										>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

