<div id="SYS005002_M01">
	<script src="/static/admin/sys/SYS005002_M01.js"></script>
	<div class="ly_table_bx">
		<h1 class="mt-2">
			<span name="menunm"></span>
			<span name="pageCd" style="color: var(--bs-body-bg);"></span>
		</h1>
		<div class="pos_right">
			<ol class="breadcrumb mb-4" id="breadcrumb_ol"></ol>
		</div>
	</div>

	<div class="card mb-2">
		<div class="card-header">
			검색조건
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4 my-2">
					<select class="datatable-selector" data-auth="S" style="width: 100%;" name="searchCmpnyCode">
					</select>
				</div>
			</div>

			<div class="row" name="cond_01">
				<div class="col-md-5 my-2">
					<label class="form-label">시작수정일시(FROM)</label>
					<div class="d-flex align-items-center">
					<input
						type="text"
						class="form-control me-2"
						name="startDate"
						placeholder="시작수정일시 (예 : 20250813)"
						data-field="startDate"
						data-type="date"
						style="width: 100%;"
						onkeyup="CMMN.onlyDateFormat(this)"
						data-auth="S"
					/>
					<input
						type="text"
						class="form-control me-2"
						name="startTime"
						placeholder="시작수정시간 (예 : 095858)"
						data-field="startTime"
						data-type="date"
						style="width: 100%;"
						onkeyup="CMMN.onlyNumber(this, this.maxLength)"
						data-auth="S"
						maxlength="6"
					/>
					</div>
				</div>
				<div class="col-md-5 my-2">
					<label class="form-label">종료수정일시(TO)</label>
					<div class="d-flex align-items-center">
					<input
						type="text"
						class="form-control me-2"
						name="endDate"
						placeholder="종료수정일시 (예 : 20250813)"
						data-field="endDate"
						data-type="date"
						style="width: 100%;"
						onkeyup="CMMN.onlyDateFormat(this)"
						data-auth="S"
					/>
					<input
						type="text"
						class="form-control me-2"
						name="endTime"
						placeholder="종료수정시간 (예 : 235959)"
						data-field="endTime"
						data-type="date"
						style="width: 100%;"
						onkeyup="CMMN.onlyNumber(this, this.maxLength)"
						data-auth="S"
						maxlength="6"
					/>
					</div>
				</div>
				<div class="col-md-2 my-2 d-flex align-items-end">
					<button data-auth="S" class="btn btn-primary me-1" style="width: 80px; height:38px;" onclick="SYS005002_M01.pageToFirst_01()">검색</buttondata-auth="S" >
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-4">
		<div class="card-body" name="cond_01">
			<div class="datatable-wrapper">
				<div style="padding-bottom: 1rem;">
					<div class="row">
						<div class="col-md-8">
							<a
								href="javascript:void(0);"
								class="btn btn-secondary"
								data-auth="E"
								style="min-width: 110px; margin-right: 10px;"
								onclick="SYS005002_M01.excelDownLoad_01()"
							>엑셀다운</a>

							<a
								href="javascript:void(0);"
								class="btn btn-secondary"
								data-auth="E"
								style="min-width: 110px; margin-right: 10px;"
								onclick="document.querySelector(`#SYS005002_M01 [name='excelUpLoad_01']`).click()"
							>엑셀업로드</a>
							<input
								type="file"
								name="excelUpLoad_01"
								style="display: none;"
								accept=".xlsx"
								onchange="SYS005002_M01.excelUpLoad_01()"
							/>

							<a
								href="javascript:void(0);"
								class="btn btn-secondary"
								data-auth="E"
								style="min-width: 110px; margin-right: 10px;"
								onclick="SYS005002_M01.fileDownLoad_01()"
							>파일다운(zip)</a>

							<a
								href="javascript:void(0);"
								class="btn btn-secondary"
								data-auth="E"
								style="min-width: 110px;"
								onclick="document.querySelector(`#SYS005002_M01 [name='fileUpLoad_01']`).click()"
							>파일업로드(zip)</a>
							<input
								type="file"
								name="fileUpLoad_01"
								style="display: none;"
								accept=".zip"
								onchange="SYS005002_M01.fileUpLoad_01()"
							/>
						</div>
					</div>
				</div>

				<!--총건수-->
				<h6 name="SYS005002_M01_totalCount_1" class="mt-3"></h6>

				<div
					class="datatable-container ag-theme-alpine"
					name="table-content-01"
					style="height: 486px;"
				>
				</div>

				<div
					class="d-flex justify-content-between align-items-center mt-3 w-100"
				>
					<div></div>
					<nav class="datatable-pagination">
						<ul
							class="datatable-pagination-list d-flex align-items-center mb-0"
							name="paginator_01"
						>

						</ul>
					</nav>
					<div></div>
				</div>
			</div>
		</div>
</div>
