<div id="CUC002002_P01" class="modal fade">
	<script src="/static/admin/cuc/CUC002002_P01.js"></script>

	<div
		class="modal-dialog modal-dialog-centered modal-lg"
		tabindex="-1"
	>
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">
					<span name="title">약관텍스트정보 상세</span>
					<span name="pageCd" style="color: var(--bs-modal-header-bg);"></span>
				</h1>
				<button type="button" class="btn-close" onclick="CUC002002_P01.close()"></button>
			</div>
			<div class="modal-body p-4" style="max-height: 500px; overflow-y: auto;">
				<div class="row mb-3">
					<div class="col-md-12">
						<label class="form-label">약관텍스트정보ID</label>
						<input
							type="text"
							class="form-control"
							disabled
							data-field="indvClusMergeaddId"
							name="indvClusMergeaddId"
						/>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-12">
						<label class="form-label">생성일자</label>
						<input
							type="text"
							class="form-control"
							disabled
							data-field="rcmYmd"
							name="rcmYmd"
						/>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-12">
						<label class="form-label">상품명</label>
						<div class="d-flex align-items-center">
							<input
								type="text"
								class="form-control"
								disabled
								data-field="nprdtNm"
								name="nprdtNm"
							/>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-12">
						<label class="form-label">약관번호</label>
						<input
							type="text"
							class="form-control"
							disabled
							data-field="indvClusMxtrId"
							name="indvClusMxtrId"
						/>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-12">
						<label class="form-label">미리보기</label>
						<textarea class="form-control" rows="2" data-field="txtText" name="txtText" data-type="text" style="height: 400px;" disabled></textarea>
					</div>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button"class="btn btn-primary" style="width: 100px; height:38px;" onclick="CUC002002_P01.close()">확인</button>
			</div>
		</div>
	</div>
</div>