<div id="CUC001001_M01">
	<script src="/static/admin/cuc/CUC001001_M01.js"></script>

	<div class="ly_table_bx">
		<h1 class="mt-2">
			<span name="menunm"></span>
			<span name="pageCd" style="color: var(--bs-body-bg);"></span>
		</h1>
		<div class="pos_right">
			<ol class="breadcrumb mb-4" id="breadcrumb_ol"></ol>
		</div>
	</div>

	<div class="card mb-2">
		<div class="card-header">
			검색조건
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6 my-2">
					<label class="form-label">(보험)회사</label>
					<input
						type="text"
						class="form-control"
						data-field="cmpnyNm"
						name="cmpnyNm"
						placeholder="검색 할 (보험)회사 입력"
						onkeydown="if(event.keyCode == '13'){CUC001001_M01.pageToFirst_01();}"
						data-auth="S"
						maxlength="1000"
					/>
				</div>
				<div class="col-md-4 my-2">
					<label class="form-label">수신일자</label>
					<input
						type="text"
						class="form-control"
						data-field="rcmYmd"
						name="rcmYmd"
						data-type="date"
						placeholder="검색 할 수신일자 입력"
						onkeyup="CMMN.onlyDateFormat(this)"
						onkeydown="if(event.keyCode == '13'){CUC001001_M01.pageToFirst_01();}"
						data-auth="S"
						maxlength="1000"
					/>
				</div>
				<div class="col-md-2 my-2 d-flex align-items-end" style="display: flex;justify-content:flex-end;">
					<button class="btn btn-primary me-1" style="width: 120px; height: 38px;" onclick="CUC001001_M01.pageToFirst_01()" data-auth="S">검색</button>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-4">
		<div class="card-body" name="cond_01">
		<div class="datatable-wrapper">
			<div
				class="datatable-container ag-theme-alpine"
				name="table-content-01"
				style="height: 486px;"
			>
			</div>
			<div
				class="d-flex justify-content-between mt-3"
			>	<div></div>
				<nav class="datatable-pagination">
					<ul
						class="datatable-pagination-list d-flex align-items-center mb-0"
						name="paginator_01"
					>
					</ul>
				</nav>
				<div id="CUC001001_M01_totalCount"></div>
			</div>
		</div>
	</div>
</div>
