<div id="CNT001002_M01">
	<script src="/static/admin/cnt/CNT001002_M01.js"></script>
	<div class="ly_table_bx">
		<h1 class="mt-2">
			<span name="menunm"></span>
			<span name="pageCd" style="color: var(--bs-body-bg);"></span>
		</h1>
		<div class="pos_right">
			<ol class="breadcrumb mb-4" id="breadcrumb_ol"></ol>
		</div>
	</div>

	<div class="card mb-2">
		<div class="card-header">
			검색조건
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4 my-2">
					<select class="datatable-selector" data-auth="S" style="width: 100%;" name="searchCmpnyCode" onchange="CNT001002_M01.onChangeCmpnyCode()">
					</select>
				</div>
				<div class="col-md-8 my-2 d-flex">
					<div class="form-check form-check-inline align-self-center">
						<input data-auth="S" class="form-check-input" type="radio" name="selectCond" id="select_cond_01" value="cond_01" onchange="CNT001002_M01.condChange()">
						<label class="form-check-label" for="select_cond_01">상품약관등록조회</label>
					</div>
					<div class="form-check form-check-inline align-self-center">
						<input data-auth="S" class="form-check-input" type="radio" name="selectCond" id="select_cond_02" value="cond_02" onchange="CNT001002_M01.condChange()" checked>
						<label class="form-check-label" for="select_cond_02">상품약관구성조회</label>
					</div>
				</div>
			</div>

			<div class="row" name="cond_01">
				<div class="col-md-3 my-2">
					<select class="datatable-selector" data-auth="S" style="width: 100%;" name="searchClusItmClcd" onchange="CNT001002_M01.pageToFirst_01()">
					</select>
				</div>
				<div class="col-md-7 my-2">
					<input type="text"
						class="form-control"
						style="width: 100%;"
						name="searchPrdtNm"
						data-auth="S"
						placeholder="검색할 상품명 또는 상품코드"
						onkeyup="if(event.key === 'Enter') CNT001002_M01.pageToFirst_01()"
					>
				</div>
				<div class="col-md-2 my-2 d-flex align-items-end">
					<button data-auth="S" class="btn btn-primary me-1" style="width: 80px; height:38px;" onclick="CNT001002_M01.pageToFirst_01()">검색</buttondata-auth="S" >
				</div>
			</div>
			<div class="row" name="cond_02" style="display: none;">
				<div class="col-md-3 my-2">
					<select data-auth="S" class="datatable-selector" style="width: 100%;" name="searchPrdtCfcd" onchange="CNT001002_M01.setPrdtList_02()">
					</select>
				</div>
				<div class="col-md-9 my-2">
					<select data-auth="S" class="datatable-selector" style="width: 100%;" name="searchPrdtCd" onchange="CNT001002_M01.search_02()">
						<option value="">= 주계약 선택 =</option>
					</select>
				</div>
			</div>

		</div>
	</div>

	<div class="card mb-4">
		<div class="card-body" name="cond_01">
			<div class="datatable-wrapper">
				<div class="d-flex justify-content-between" style="padding-bottom: 1rem;">
					<div>
						<a
							href="javascript:void(0);"
							class="btn btn-secondary"
							data-auth="E"
							style="min-width: 110px; margin-right: 10px;"
							onclick="CMMN.dnExcelTemplate('template01')"
						>상품등록 엑셀템플릿</a>
						<a
							href="javascript:void(0);"
							class="btn btn-secondary"
							data-auth="E"
							style="min-width: 110px;"
							onclick="document.querySelector(`#CNT001002_M01 [name='prdtupexcel01']`).click()"
						>상품등록 엑셀업로드</a>
						<input
							type="file"
							name="prdtupexcel01"
							style="display: none;"
							accept=".xlsx"
							onchange="CNT001002_M01.excelUp_01()"
						/>
					</div>
					<div>
						<button
							data-auth="I"
							class="btn btn-success"
							style="width: 100px;"
							onclick="CNT001002_M01.add_01()"
						>
							신규등록
						</button>
					</div>
				</div>

				<!--총건수-->
				<h6 name="CNT001002_M01_totalCount_1" class="mt-3"></h6>

				<div
					class="datatable-container ag-theme-alpine"
					name="table-content-01"
					style="height: 486px;"
				>
				</div>

				<div
					class="datatable-bottom position-relative mt-3"
				>
					<button data-auth="D" class="btn btn-danger w-80px" onclick="CNT001002_M01.delete_01()">삭제</button>
					<nav class="datatable-pagination">
						<ul
							class="datatable-pagination-list d-flex align-items-center mb-0"
							name="paginator_01"
						>

						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="card-body" name="cond_02" style="display: none;">
			<div class="datatable-wrapper">
				<div style="padding-bottom: 1rem;">
					<div class="d-flex justify-content-start">
						<a
							href="javascript:void(0);"
							class="btn btn-secondary"
							data-auth="E"
							style="min-width: 110px; margin-right: 10px;"
							onclick="CMMN.dnExcelTemplate('template02')"
						>
							상품약관구성등록 엑셀템플릿
						</a>
						<a
							href="javascript:void(0);"
							class="btn btn-secondary"
							data-auth="E"
							style="min-width: 110px;"
							onclick="document.querySelector(`#CNT001002_M01 [name='prdtupexcel02']`).click()"
						>
							상품약관구성등록 엑셀업로드
						</a>
						<input
							type="file"
							name="prdtupexcel02"
							style="display: none;"
							accept=".xlsx"
							onchange="CNT001002_M01.excelUp_02()"
						/>
					</div>
				</div>

				<!--총건수-->
				<h6 name="CNT001002_M01_totalCount_2" class="mt-3"></h6>

				<div
					class="datatable-container ag-theme-alpine"
					name="table-content-02"
					style="height: 486px;"
				>
				</div>
		</div>
	</div>
</div>
