<div id="CMN000000_P06" class="modal fade">
	<script src="/static/admin/cmn/CMN000000_P06.js"></script>

	<div
		class="modal-dialog modal-dialog-centered modal-xxl"
		tabindex="-1"
	>
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">
					<span name="title">PDF 보기</span>
					<span name="pageCd" style="color: var(--bs-modal-header-bg);"></span>
				</h1>
				<button type="button" class="btn-close" onclick="CMN000000_P06.close()"></button>
			</div>
			<div class="modal-body p-4" style="padding: 5px !important;">
				<iframe
					name="simul-preview"
					style="height: 100%;width: 100%;"
				>
				</iframe>
			</div>
		</div>
	</div>
</div>