<div id="CMN000000_P01" class="modal fade">
	<script src="/static/admin/cmn/CMN000000_P01.js"></script>
	
	<div 
		class="modal-dialog modal-dialog-centered modal-lg"
		tabindex="-1" 
	>
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">
					<span name="title">미리보기</span>
					<span name="pageCd" style="color: var(--bs-modal-header-bg);"></span>
				</h1>
				<button 
					type="button" 
					class="btn-close" 
					onclick="CMN000000_P01.close()"
				>
				</button>
			</div>
			<div class="modal-body p-4">
				<img 
					name="preview" 
					style="width: 100%;cursor: pointer;" 
					onclick="CMN000000_P01.close()"
				/>
			</div>
		</div>
	</div>
	
</div>