<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{sample/layouts/SampleDefaultLayout}"
>
<th:block layout:fragment="content">
<h3>Springboot WebClient HTTP 호출 샘플페이지</h3>
<hr style="border: double;"/>
<div>
	<button style="margin-top: 10px;" onclick="testGet()">get 호출테스트</button>
</div>
<div>
	* java 서버로그를 확인해 주세요.
</div>
<hr style="border: double;"/>
<div>
	<button style="margin-top: 10px;" onclick="testPost()">post 호출테스트</button>
</div>
<div>
	* java 서버로그를 확인해 주세요.
</div>
<script th:inline="javascript">

	const testGet = async () => {
		const response = await CMMN.api.get('/api/sample/httpcall/testGet')
		console.log(response);
	}

	const testPost = async () => {
		const response = await CMMN.api.get('/api/sample/httpcall/testPost')
		console.log(response);
	}

</script>
</th:block>
</html>