<div id="FLE001003_P01" class="modal fade">
	<script src="/static/admin/fle/FLE001003_P01.js"></script>

	<div
		class="modal-dialog modal-dialog-centered modal-lg"
		tabindex="-1"
	>
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">
					<span name="popupTitle">목차선택</span>
					<span name="pageCd" style="color: var(--bs-modal-header-bg);"></span>
				</h1>
				<button type="button" class="btn-close" onclick="FLE001003_P01.close('Y')"></button>
			</div>
			<div id="scroll_01" class="modal-body p-4" style="max-height: 600px; overflow-y: auto;">
				<div class="row mb-3">
					<div class="col-md-12">
						<label class="form-label">전체 페이지 재 계산(추출 한 페이지가 일치하지 않은경우)</label>
						<input
							type="text"
							class="form-control"
							data-field="calPage"
							name="calPage"
							data-type="text"
							maxlength="4"
							placeholder="다시 계산 할 페이지 숫자 입력 (예 : -2 또는 2)"
							onkeyup="FLE001003_P01.change(this.value)"
						/>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-12">
						<label class="form-label" name="gridLabel">목차선택</label>
						<div class="datatable-wrapper">
							<div
								class="datatable-container ag-theme-alpine"
								data-field="indvClusCrtMppgLst_01"
								data-type="grid"
								style="height: 400px;"
							>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-3 d-flex justify-content-between align-items-center">
					<button
						class="btn btn-danger"
						style="width: 100px;"
						onclick="FLE001003_P01.delete()"
					>
						선택삭제
					</button>
					<button
						class="btn btn-primary"
						style="width: 100px;"
						onclick="FLE001003_P01.prevPage('Y')"
					>
						초기화
					</button>
					<button
						class="btn btn-success"
						style="width: 100px;"
						onclick="FLE001003_P01.titleAddList('저장', 'S')"
					>
						목차추가
					</button>
				</div>
				<div id="titleAddList" class="mt-4 d-flex justify-content-between align-items-center" style="display: none !important;">
					<div class="col-md-5">
						<input
							type="text"
							class="form-control"
							data-field="title"
							name="title"
							data-type="text"
							placeholder="목차명"
						/>
					</div>
					<div class="col-md-2">
						<input
							type="text"
							class="form-control"
							data-field="startPage"
							name="startPage"
							data-type="text"
							placeholder="시작페이지"
							maxlength="4"
							onkeyup="CMMN.onlyNumber(this, this.maxLength)"
						/>
					</div>
					<div class="col-md-2">
						<input
							type="text"
							class="form-control"
							data-field="endPage"
							name="endPage"
							data-type="text"
							placeholder="종료페이지"
							maxlength="4"
							onkeyup="CMMN.onlyNumber(this, this.maxLength)"
						/>
					</div>
					<div class="col-md-2 d-flex justify-content-end gap-2">
						<button
							class="btn btn-success"
							style="width: 100px;"
							onclick="FLE001003_P01.titleAdd()"
							data-field="titleButton"
							name="titleButton"
						>
							저장
						</button>
					</div>
				</div>
			</div>
			<div id="scroll_02" class="modal-body p-4" style="max-height: 600px; overflow-y: auto; display: none;">
				<div class="row mb-3">
					<div class="col-md-12">
						<label class="form-label">목차확인</label>
						<div class="datatable-wrapper">
							<div
								class="datatable-container ag-theme-alpine"
								data-field="indvClusCrtMppgLst_02"
								data-type="grid"
								style="height: 400px;"
							>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div id="button_01">
					<button type="button"class="btn btn-danger" style="width: 100px; height:38px;" onclick="FLE001003_P01.close('Y')">닫기</button>
					<button type="button"class="btn btn-primary" style="width: 100px; height:38px;" onclick="FLE001003_P01.nextPage()">다음</button>
				</div>
				<div id="button_02" class="col-md-12 mt-3 d-flex justify-content-between align-items-center" style="display: none !important;">
					<div class="col-md-5">
						<input
							type="text"
							class="form-control"
							data-field="saveFileNm"
							name="saveFileNm"
							data-type="text"
							placeholder="저장할 파일명"
						/>
					</div>
					<div class="col-md-3 d-flex justify-content-end gap-2">
						<button
							class="btn btn-success"
							style="width: 150px;"
							onclick="FLE001003_P01.autoSplitPdf()"
							data-field="titleButton"
							name="titleButton"
						>
							분할처리(PC저장)
						</button>
					</div>
					<div class="col-md-2 d-flex justify-content-end gap-2">
						<button
							class="btn btn-danger"
							style="width: 100px;"
							onclick="FLE001003_P01.close('Y')"
							data-field="titleButton"
							name="titleButton"
						>
							취소
						</button>
					</div>
					<div class="col-md-2 d-flex justify-content-end gap-2">
						<button
							class="btn btn-primary"
							style="width: 100px;"
							onclick="FLE001003_P01.prevPage()"
							data-field="titleButton"
							name="titleButton"
						>
							이전
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>